<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新しいユーザーを追加</title>
</head>
<body>
    <h1>ユーザーを追加</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="name">名前:</label>
        {{ form.name(size=32) }}
        <br>
        <label for="password">パスワード:</label>
        {{ form.password(size=32) }}
        <br>
        {{ form.submit() }}
    </form>
</body>
</html>
