<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_card2.css')}}">
    <script src="{{ url_for('static', filename='js/sample_card2.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script><!--profile.htmlの折れ線グラフ用のjsライブラリ chart.js-->
    <title>つばきちcasino</title>
</head>
<body>
    <!--
    <img src="/static/images/background.png" class="background">
    -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>