{% extends "base.html" %}
{% block title %}チップ交換ページ{% endblock %}

{% block content %}
<p>チップ交換</p>

**交換レート** <br>
10 point => 1 chip <br>
--------- <br>
  所有チップ：{{ user.chip }} <br>
所有ポイント：{{ user.point }} <br>
--------- <br>
<form method="POST">
    <input type="number" id="point" name="point" min="0" required>
    <br>
    <button type="submit">交換</button>
    <button onclick="history.back()">戻る</button>
</form>
{% if message %}
    <p style="color: red;">{{ message }}</p>
{% endif %}

{% endblock %}