{% extends "base.html" %}
{% block title %}チケット一覧ページ{% endblock %}

{% block content %}

<h1><チケット一覧></h1>
{% if t == [] %}
    <p>チケットはありません</p>
{% else %}
    <table border = "1">
        <tr>
            <th>id</th>
            <th>名前</th>
            <th>タイプ</th>
            <th>カテゴリ</th>
            <th>値</th>
            <th>削除</th>
        </tr>
        {% for ticket in tickets %}
            <tr>
                <th>{{ ticket.id }}</th>
                <th>{{ user_dict[ticket.user_id] }}</th>
                
                <th><a href="/ticket_receive/{{ ticket.id }}">
                    {% if ticket.type == "withdrawal" %}
                        引出
                    {% elif ticket.type == "deposit" %}
                        預入
                    {% elif ticket.type == "add_user" %}
                        ユーザ登録
                    {% elif ticket.type == "monthly_bonus" %}
                        月初めボーナス
                    {% endif %}
                </a></th>
                <th>{{ ticket.category }}</th>
                <th>{{ ticket.value }}</th>
                <th>
                    <form action="{{ url_for('delete_ticket', id=ticket.id) }}" method="POST" style="display:inline;">
                        <button type="submit">チケット削除</button>
                    </form>
                </th>
            </tr>
        {% endfor %}
    </table>
{% endif %}
<button onclick="window.location.href='/ranking'">戻る</button>
{% endblock %}