{% extends "base.html" %}
{% block title %}チケット作成ページ{% endblock %}

{% block content %}
<p>チケット作成ページ</p>

名前：{{user.name}}<br>
チップ：{{user.chip}}<br>
ポイント：{{user.point}}<br>
<br>
<form method="POST">
    <label>
        <input type="radio" id="withdrawal" name="type" value="withdrawal" checked>
        引出
    </label>
    <label>
        <input type="radio" id="deposit"  name="type" value="deposit">
        預入
    </label>
    <br>
    ----------
    <br>
    <label>
        <input type="radio" id="chip" name="category" value="chip" checked>
        チップ
        <input type="radio" id="point" name="category" value="point">
        ポイント
    </label>
    <br>
    <input type="number" id="value" name="value" min="0" required>
    <br>
    <br>
    <label>
        <button type="submit">送信</button>
        <button onclick="window.location.href='/profile/{{ user.id }}'">戻る</button>
    </label>
  </form>
{% if message %}
    <p style="color: red;">{{ message }}</p>
{% endif %}
  

{% endblock %}