{% extends "base.html" %}
{% block title %}チケット受付ページ{% endblock %}

{% block content %}
<p>チケット受付ページ</p>

名前：{{ name }}
<br>
{% if ticket.type == "withdrawal" %}
    <p>type:引出</p>

    {% if ticket.category == "chip" %}
        <p>
        [チップ変動]<br>
        {{user.chip}}<br>
        ↓<br>
        {{ user.chip - ticket.value }}
        </p>
    {% elif ticket.category == "point" %}
        <p>
        [ポイント変動]<br>
        {{user.point}}<br>
        ↓<br>
        {{ user.point - ticket.value }}
        </p>
    {% endif %}

{% elif ticket.type == "deposit" %}
    {% if ticket.category == "chip" %}
        <p>
        [チップ変動]<br>
        {{user.chip}}<br>
        ↓<br>
        {{ user.chip + ticket.value }}
        </p>
    {% elif ticket.category == "point" %}
        <p>
        [ポイント変動]<br>
        {{user.point}}<br>
        ↓<br>
        {{ user.point + ticket.value }}
        </p>
    {% endif %}
{% endif %}

<form action="{{ url_for('ticket_receive', id=ticket.id) }}" method="POST" style="display:inline;">
    <button type="submit">許可</button>
</form>

<form action="{{ url_for('delete_ticket', id=ticket.id) }}" method="POST" style="display:inline;">
    <button type="submit">チケット削除</button>
</form>


{% endblock %}